
.cursos {

	> .container {
		padding: 60px 0;
	}

	.curso {
        margin-bottom: 40px;

        > div {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 0px;
        }

        .banner {
        	img {
        		border-radius: 4px 4px 0 0;
        	}
        }

        .content {
        	padding: 20px;

        	h2 {
        		font-family: 'Karma', serif;
        		margin-top: 10px;
        	}
        }

        .footer {
    			background-color: #f5f5f5;
    			border-top: 1px solid #ddd;
    			padding: 20px;

                .col-md-12:first-child {
                    margin-bottom: 5px;
                }

    			p {
    				margin: 0;
    			}

    			.col-md-6:last-child p {
    				text-align: right;
    			}

                .info {
                    margin-top: 20px;

                    p span {
                        float: right;
                    }
                }
        }
	}
}