<div class="cursos">

  <div class="container">
    <div>
      <!-- spanish block -->
      <div class="row" ng-if="mfooter.lang == 'sp'">
        <!-- curso -->
        <div class="col-md-6 curso">
          <div>
            <div class="banner">
              <img class="img-responsive" src="assets/images/cursos/curso-apreciacion-musical.jpg" alt="Curso de Apreciación Musical / Galería Valanti">
            </div>
            <div class="content">
              <h2>Apreciación Musical</h2>
              <h4>Profesora: <strong>Aurora Sáez, Chelista</strong></h4>
              <p>Curso libre de Apreciación Musical.</p>
              <p><small>Costo: 40,000 Mensuales, 10,000 Matrícula.</small></p>
            </div>
            <div class="footer">
              <div class="row">
                <div class="col-md-6">
                  <p><strong>Horario: </strong>Lunes de 7:00 P.M. a 9:00 P.M.</p>    
                </div>
                <div class="col-md-6">
                  <p><strong>Lugar: </strong>Galería Valanti, Barrio Escalante.</p>
                </div>
                <div class="col-md-12 info">
                  <p><strong>Información:</strong> <i class="fa fa-phone-square"></i> 2253-1659  <i class="fa fa-envelope"></i> <a href="mailto:info@galeriavalanti.com">info@galeriavalanti.com</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- curso -->
        <div class="col-md-6 curso">
          <div>
            <div class="banner">
              <img class="img-responsive" src="assets/images/cursos/curso-tecnica-mixta.jpg" alt="Curso Pintura Técnica Mixta / Galería Valanti">
            </div>
            <div class="content">
              <h2>Pintura Técnica Mixta</h2>
              <h4>Profesora: <strong>Marijose Terán</strong></h4>
              <p>Curso libre de Pintura Técnica Mixta.</p>
              <p><small>Costo: 40,000 Mensuales, 10,000 Matrícula.</small></p>
            </div>
            <div class="footer">
              <div class="row">
                <div class="col-md-6">
                  <p><strong>Horario: </strong>Miércoles de 3:00 P.M. a 5:00 P.M.</p>    
                </div>
                <div class="col-md-6">
                  <p><strong>Lugar: </strong>Galería Valanti, Barrio Escalante.</p>
                </div>
                <div class="col-md-12 info">
                  <p><strong>Información:</strong> <i class="fa fa-phone-square"></i> 2253-1659  <i class="fa fa-envelope"></i> <a href="mailto:info@galeriavalanti.com">info@galeriavalanti.com</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- curso -->
        <div class="col-md-6 curso">
          <div>
            <div class="banner">
              <img class="img-responsive" src="assets/images/cursos/curso-oleo.jpg" alt="Curso Pintura al Óleo / Galería Valanti">
            </div>
            <div class="content">
              <h2>Pintura al Óleo</h2>
              <h4>Profesor: <strong>Gonzalo Morales</strong></h4>
              <p>Curso libre de Pintura al Óleo.</p>
              <p><small>Costo: 40,000 Mensuales, 10,000 Matrícula.</small></p>
            </div>
            <div class="footer">
              <div class="row">
                <div class="col-md-6">
                  <p><strong>Horario: </strong>Martes de 2:00 P.M. a 5:00 P.M.</p>    
                </div>
                <div class="col-md-6">
                  <p><strong>Lugar: </strong>Galería Valanti, Barrio Escalante.</p>
                </div>
                <div class="col-md-12 info">
                  <p><strong>Información:</strong> <i class="fa fa-phone-square"></i> 2253-1659  <i class="fa fa-envelope"></i> <a href="mailto:info@galeriavalanti.com">info@galeriavalanti.com</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- English block -->
      <div class="row" ng-if="mfooter.lang == 'en'">
        <!-- curso -->
        <div class="col-md-6 curso">
          <div>
            <div class="banner">
              <img class="img-responsive" src="assets/images/cursos/curso-apreciacion-musical.jpg" alt="Curso de Apreciación Musical / Galería Valanti">
            </div>
            <div class="content">
              <h2>Apreciación Musical</h2>
              <h4>Profesora: <strong>Aurora Sáez, Chelista</strong></h4>
              <p>Curso libre de Apreciación Musical.</p>
              <p><small>Costo: 40,000 Mensuales, 10,000 Matrícula.</small></p>
            </div>
            <div class="footer">
              <div class="row">
                <div class="col-md-6">
                  <p><strong>Horario: </strong>Lunes de 7:00 P.M. a 9:00 P.M.</p>    
                </div>
                <div class="col-md-6">
                  <p><strong>Lugar: </strong>Galería Valanti, Barrio Escalante.</p>
                </div>
                <div class="col-md-12 info">
                  <p><strong>Información:</strong> <i class="fa fa-phone-square"></i> 2253-1659  <i class="fa fa-envelope"></i> <a href="mailto:info@galeriavalanti.com">info@galeriavalanti.com</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- curso -->
        <div class="col-md-6 curso">
          <div>
            <div class="banner">
              <img class="img-responsive" src="assets/images/cursos/curso-tecnica-mixta.jpg" alt="Curso Pintura Técnica Mixta / Galería Valanti">
            </div>
            <div class="content">
              <h2>Pintura Técnica Mixta</h2>
              <h4>Profesora: <strong>Marijose Terán</strong></h4>
              <p>Curso libre de Pintura Técnica Mixta.</p>
              <p><small>Costo: 40,000 Mensuales, 10,000 Matrícula.</small></p>
            </div>
            <div class="footer">
              <div class="row">
                <div class="col-md-6">
                  <p><strong>Horario: </strong>Miércoles de 3:00 P.M. a 5:00 P.M.</p>    
                </div>
                <div class="col-md-6">
                  <p><strong>Lugar: </strong>Galería Valanti, Barrio Escalante.</p>
                </div>
                <div class="col-md-12 info">
                  <p><strong>Información:</strong> <i class="fa fa-phone-square"></i> 2253-1659  <i class="fa fa-envelope"></i> <a href="mailto:info@galeriavalanti.com">info@galeriavalanti.com</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- curso -->
        <div class="col-md-6 curso">
          <div>
            <div class="banner">
              <img class="img-responsive" src="assets/images/cursos/curso-oleo.jpg" alt="Curso Pintura al Óleo / Galería Valanti">
            </div>
            <div class="content">
              <h2>Pintura al Óleo</h2>
              <h4>Profesor: <strong>Gonzalo Morales</strong></h4>
              <p>Curso libre de Pintura al Óleo.</p>
              <p><small>Costo: 40,000 Mensuales, 10,000 Matrícula.</small></p>
            </div>
            <div class="footer">
              <div class="row">
                <div class="col-md-6">
                  <p><strong>Horario: </strong>Martes de 2:00 P.M. a 5:00 P.M.</p>    
                </div>
                <div class="col-md-6">
                  <p><strong>Lugar: </strong>Galería Valanti, Barrio Escalante.</p>
                </div>
                <div class="col-md-12 info">
                  <p><strong>Información:</strong> <i class="fa fa-phone-square"></i> 2253-1659  <i class="fa fa-envelope"></i> <a href="mailto:info@galeriavalanti.com">info@galeriavalanti.com</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>

</div>