
.contacto {	
	padding: 60px 0;
	text-align: justify;

	h1 {
		margin: 10px 0 30px;
	}
}



/* Responsive: Mobile First */
@media screen and (max-width: 768px) {
  .contacto {
  	text-align: center;

    img {
    	float: none !important;
    	display: inline-block !important;
    	margin: 0 0 2em;
    }
  }
}