<div class="tile">

	{{tile | json}}
  <img ng-click="tile.openModal();" class="img-responsive" ng-src="{{ tile.baseUri }}{{ tile.pieceData.thumb }}" alt="{{ tile.pieceData.nombreArtista }} | {{ tile.pieceData.titulo }}">
  <div class="caption">

    <h5 class="text-uppercase">
    	<a ng-click="tile.setArtistById(tile.pieceData.idArtista)" ng-href="/artist/{{ tile.pieceData.idArtista }}">{{ tile.pieceData.nombreArtista }}</a>
    </h5>

    <h4 class="text-uppercase">{{ tile.pieceData.titulo }}</h4>
    <p class="description">{{ tile.pieceData.tecnica }} <br /> <small>Alto: {{ tile.pieceData.altura }} cms / Ancho: {{ tile.pieceData.ancho }} cms</small></p>
    <a ng-click="tile.openModal(); tile.currPiece.setCurrPiece(tile);" class="btn btn-default text-uppercase pull-right" role="button">Ver</a>
  </div>
</div>