
/* home tiles styles */
.gallery-tiles {
  .tile {
    margin-bottom: 50px;
    padding: 0px;
    display: block;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid #ddd;
    position: relative;
    transition: border .2s ease-in-out;
    img {
      width: 100%;
      cursor: pointer;
      &:hover {opacity: 0.7;}
    }
    h4 {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 0;
        margin-bottom: 0.6em;
        // min-height: 40px;
        font-size: 16px;
        font-family: 'Karma', serif;
      &:before, &:after {
        content: '"'; 
      }
    }
    h5 {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 12px;
        font-weight: bold;
        position:relative;
        transition: opacity 0.2s linear;
        &:hover {opacity: 0.6;}
    }
    p {
      color: $font-gray-color;
      font-size: 14px;
      margin-bottom: 1.5em;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      small {
        font-size: 12px;
      }
    }
    .btn-default {
      text-align: center;
      font-size: 12px;
      padding: 12px;
      width: 100%;
    }
    .caption {
      overflow: hidden;
      padding: 10px 10px 14px;
      strong {
        color: #333;
      }
    }
    &.sold {
      h5:after {
        content: '';
        width: 12px;
        height: 12px;
        border-radius: 6px;
        background-color: red;
        position: absolute;
        top: 0px;
        right: 0px;
        display: block;
        border: 1px solid #fff;
      }
    }
  }
  .refresh-trigger {
    text-align: center;
    padding: 80px 0;
    .btn-default {
      padding: 20px 70px;
    }
  }
}
