<div class="tile">
  <img class="img-responsive" ng-src="{{ tile.baseURL }}{{ tile.pieceData.thumb }}" alt="Example Image">
  <div class="caption">
    <h5 class="text-uppercase">{{ tile.pieceData.nombreArtista }}</h5>
    <h4 class="text-uppercase">{{ tile.pieceData.titulo }}</h4>
    <p class="description">{{ tile.pieceData.tecnica }} <br /> <small>Alto: {{ tile.pieceData.altura }} cms / Ancho: {{ tile.pieceData.ancho }} cms</small></p>
    <a ng-click="tile.openModal()" class="btn btn-default text-uppercase pull-right" role="button">Ver</a>
  </div>
</div>