.artists {

	margin-top: 50px;
	text-align: center;

	.tile {
		.caption {
			padding-top: 20px !important;
			h5 {
				font-size: 1em;
				min-height: 2.4em;
				margin-bottom: 0.5em;
			}
		}
	}

}

.gallery-filter-artists {
	margin-top: 50px;
}

pre {
    display: block;
    font-family: 'Lato', sans-serif !important;
		font-size: 1em;
    white-space: pre-line;
    margin: 1em 0;
		background-color: white;
		border: 0;
}
