<div class="gallery-filter gallery-filter-artists">
   <div class="container">
    <div class="row">
      <div class="col-md-12">
        <select class="form-control input-sm" ng-model="search.nombreCompleto">
          <option value="" ng-if="ac.lang == 'sp'">Buscar por Artista</option>
          <option value="" ng-if="ac.lang == 'en'">Search by Artist</option>
          <option value="{{ artist }}" ng-repeat="artist in ac.allArtistNames">{{ artist }}</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="container artists">

    <div class="row">
      <div class="col-xs-12 gallery-tiles">
        
        <preloader ng-show="!ac.loaded"></preloader>
        
        <div class="col-sm-4 col-md-3 col-xs-6" ng-repeat="artist in ac.artists | filter: search" ng-show="ac.loaded">
          <div class="tile">

            <div ng-if="!artist.imagen">
              <img class="img-responsive" ng-src="assets/images/foto-no-disponible.jpg" alt="Foto no Disponible">
            </div>
            <div ng-if="artist.imagen">
              <img ng-click="go('/artists/' + artist.idArtista)" class="img-responsive" ng-src="{{ ac.baseUri }}{{ artist.imagen }}" alt="{{ artist.nombreCompleto }}">
            </div>

            <div class="caption">
              <h5 ng-click="go('/artists/' + artist.idArtista)" class="text-uppercase">{{ artist.nombreCompleto }}</h5>
              <a ng-if="ac.lang == 'sp'" ng-href="/artists/{{ artist.idArtista }}" class="btn btn-default text-uppercase hvr-sweep-to-bottom" role="button">Ver Obras</a>
              <a ng-if="ac.lang == 'en'" ng-href="/artists/{{ artist.idArtista }}" class="btn btn-default text-uppercase hvr-sweep-to-bottom" role="button">Watch Gallery</a>
            </div>

          </div>
        </div>

      </div>
    </div>

</div>