<div class="gallery-filter">
  <div class="container">
    <div class="row">
      <div class="filter-select col-sm-4 col-xs-12">
        <label for="artista-filter">Artista: </label>
        <select name="artista-filter" id="artista-filter"></select>
      </div>
      <div class="filter-select col-sm-4 col-xs-12">
        <label for="estilo-filter">Estilo: </label>
        <select name="estilo-filter" id="estilo-filter"></select>
      </div>
      <div class="filter-select col-sm-4 col-xs-12">
        <label for="tecnica-filter">Tecnica: </label>
        <select name="tecnica-filter" id="tecnica-filter"></select>
      </div>
    </div>
  </div>
</div>