.gallery-filter {
  background: black;
  padding: 30px 0;
  margin-bottom: 50px;
  color: white;
  .filter-select {
    margin-bottom: 10px;
  }
  label {
    font-weight: normal;
    margin-top: 5px;
    text-transform: uppercase;
  }
  select {
    float: right;
    min-width: 220px;
    height: 30px;
    -webkit-appearance: none;
    @include border-radius(0);
    &:after {
      content: '\e114';
      color: black;
    }
  }
}

@media screen and (min-width: 960px) {
  .gallery-filter {
    .filter-select {
      margin-bottom: 0;
    }
  }
}