<div class="gallery-filter">


  <div class="container">
    <div class="col-md-4">
      <select class="form-control input-sm" ng-model="search.nombreArtista">
        <option value="">Buscar por Artista</option>
        <option value="{{ artist }}" ng-repeat="artist in main.allArtistNames">{{ artist }}</option>
      </select>
    </div>
    <div class="col-md-4">
      <select class="form-control input-sm" ng-model="search.tipo">
        <option value="">Buscar por Tipo de Obra</option>
        <option value="{{ type }}" ng-repeat="type in main.allPieceTypes">{{ type }}</option>
      </select>
    </div>
    <div class="col-md-4">
      <select class="form-control input-sm" ng-model="search.tecnica">
        <option value="">Buscar por Técnica</option>
        <option value="{{ technique }}" ng-repeat="technique in main.allTechniques">{{ technique }}</option>
      </select>
    </div>
  </div>

</div>