<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <a href="#" class="pull-right lang-btn">English</a>
      </div>
    </div>
    <h1 class="text-center">
      <a ng-href="/home">
        <img src="assets/images/galeria-valanti-logo.png" alt="Galeria Valanti">
      </a>
    </h1>
    <hr>
  </div>
  <div class="navbar navbar-default " role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav text-uppercase">
          <li><a href="#">La Galer&iacute;a</a></li>
          <li><a href="/artist">Artistas</a></li>
          <li><a href="#">Servicios</a></li>
          <li><a href="#">Exposiciones</a></li>
          <li><a href="#">Cursos</a></li>
          <li><a href="#">Publicaciones</a></li>
          <li><a href="#">C&oacute;mo comprar</a></li>
          <li class="social">
            <ul>
              <li><a href="#" class="pull-right social-btn"><i class="fa fa-search"></i></a></li>
              <li><a href="#" class="pull-right social-btn"><i class="fa fa-facebook-official"></i></a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>