<div class="modal-header">
	<img src="assets/images/galeria-valanti-logo-2x.png" alt="Galer&iacute;a Valanti" width="270">
	<button class="close-btn pull-right" ng-click="ok()"><i class="fa fa-times"></i></button>
</div>

<div class="modal-body">
	<div class="row">
		<div class="col-md-8">
			<img class="img-responsive" ng-src="{{ baseUri }}imgd.php?q=50&w=800&src={{ item.imagen }}" alt="{{ item.nombreArtista }} | {{ item.titulo }}">

			<!-- http://www.galeriavalanti.com/imgd.php?q=50&w=800&src=/data/images/obras/54.jpg -->
		</div>
		<div class="col-md-4" ng-class="{ 'sold': item.vendida == 1 }">
		  <h2 ng-click="go('/artists/' + item.idArtista); cancel()">{{ item.nombreArtista }}</h2>
		  <h1>"{{ item.titulo }}"</h1>
		  <p>{{ item.altura }} x {{ item.ancho }} cms.<br>
		  {{ item.ano }}<br>
		  {{ item.tecnica }}</p>
		  <a class="btn btn-default text-uppercase hvr-sweep-to-bottom" href="mailto:info@galeriavalanti.com?subject=Deseo información sobre una obra&body=Obra: {{item.titulo}}, Artista: {{item.nombreArtista}}">Solicitar información</a>
		  <p><small>Favor <a href="mailto:info@galeriavalanti.com?subject=Deseo información sobre una obra&body=Obra: {{item.titulo}}, Artista: {{item.nombreArtista}}">contacte</a> la galería para solicitar precios</small></p>
		  <!-- <p><small><a href="#">Regresar a obras del artista</a></small></p> -->
	  </div>
	</div>
</div>

<div class="modal-footer">
    <!-- <button class="btn btn-warning" ng-click="cancel()">Cancel</button> -->
</div>