<div>

  <!-- carousel -->
  <div class="container">
    <carousel interval="main.myInterval" no-wrap="noWrapSlides">
      <slide ng-repeat="slide in main.slides" active="slide.active">
        <slide-item>
          <div class="thumbnail">
            <div class="row">
              <div class="col-xs-8 slideImg ng-class="{ 'sold': slide.vendida == 1 }"">
                <img ng-click="main.open({ currPiece: slide });" class="img-responsive" ng-src="{{ main.baseUri }}{{ slide.imagen }}">
              </div>
              <div class="col-xs-4">
                <div class="caption text-right">
                  <h3 class="text-uppercase"><a ng-click="go('/artists/' + slide.idArtista)" class="text-uppercase">{{ slide.nombreArtista }}</a></h3>
                  <h2 class="text-uppercase">{{ slide.titulo }}</h2>
                  <p>{{ slide.tecnica }} <br /> <small>{{ slide.altura }} x {{ slide.ancho }} cms</small></p>
                  <p><a ng-click="go('/artists/' + slide.idArtista)" class="text-uppercase">Otras Obras de {{ slide.nombreArtista }}</a></p>
                </div>
              </div>
            </div>
          </div>
      </slide>
    </carousel>
  </div>

  <main-filter></main-filter>

<!-- <div class="container">
    <div class="row">
      <div class="col-md-12" style="background-color: transparent; height: auto; margin-bottom: 80px; padding-bottom: 2px; border-bottom: 1px solid #000; border-top: 5px solid #000"></div>
    </div>
  </div> -->

  <!-- tiles -->
  <div class="container">
    <div>
      <div class="row">
        <div class="col-xs-12 gallery-tiles">
          <preloader ng-show="!main.loaded"></preloader>
          <div ng-show="main.loaded">
            <div ng-repeat="tile in main.homeTiles | filter: search">
              <!-- <div class="clearfix visible-md-block" ng-if="$index % 4 == 0"></div>
              <div class="clearfix visible-sm-block" ng-if="$index % 3 == 0"></div> -->
              <div class="col-sm-4 col-md-3 col-xs-6">
                <tile piece-data="tile" open-modal="main.open({ currPiece: tile })"></tile>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-xs-12 refresh-trigger">
          <a href="#" class="btn btn-default text-center">Ver M&aacute;s</a>
        </div> -->
      </div>
    </div>
  </div>

  <!-- <button class="btn btn-default" ng-click="main.open()">Open me!</button> -->

</div>