<div>

  <main-carousel></main-carousel>

  <main-filter></main-filter>

  <div class="container">
    <div>
      <div class="row">
        <div class="col-xs-12 gallery-tiles">
          <preloader ng-show="!main.loaded"></preloader>
          <div class="col-sm-4 col-md-3 col-xs-6" ng-repeat="tile in main.tiles" ng-show="main.loaded">
            <tile piece-data="tile" open-modal="main.open()"></tile>
          </div>
        </div>
        <!-- <div class="col-xs-12 refresh-trigger">
          <a href="#" class="btn btn-default text-center">Ver M&aacute;s</a>
        </div> -->
      </div>
    </div>
  </div>

  <!-- <button class="btn btn-default" ng-click="main.open()">Open me!</button> -->

</div>