
body {
  background-color: $body-background-color;
  font-family: 'Lato', sans-serif;
}


/* Buttons */
.btn-default {
  border: 1px solid $lines-color;
  @include border-radius(0);
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
}

