<div>

  <main-carousel open-modal="main.open({ currPiece: mcarousel.slide })"></main-carousel>

  <main-filter></main-filter>

<!--   <div class="container">
    <div class="row">
      <div class="col-md-12" style="background-color: transparent; height: auto; margin-bottom: 80px; padding-bottom: 2px; border-bottom: 1px solid #000; border-top: 5px solid #000"></div>
    </div>
  </div> -->

  <div class="container">
    <div>
      <div class="row">
        <div class="col-xs-12 gallery-tiles">
          <preloader ng-show="!main.loaded"></preloader>
          <div ng-show="main.loaded">
            <div ng-repeat="tile in main.homeTiles">
              <!-- <div class="clearfix visible-md-block" ng-if="$index % 4 == 0"></div>
              <div class="clearfix visible-sm-block" ng-if="$index % 3 == 0"></div> -->
              <div class="col-sm-4 col-md-3 col-xs-6">
                <tile piece-data="tile" open-modal="main.open({ currPiece: tile })"></tile>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-xs-12 refresh-trigger">
          <a href="#" class="btn btn-default text-center">Ver M&aacute;s</a>
        </div> -->
      </div>
    </div>
  </div>

  <!-- <button class="btn btn-default" ng-click="main.open()">Open me!</button> -->

</div>