<div class="servicios">

  <div class="container">
    <div>
      <div class="row">
        <!-- Spanish Block -->
        <div class="col-xs-12" ng-if="sc.lang == 'sp'">
          <h1>Servicios</h1>
          <img src="assets/images/galeria/lagaleria.jpg" alt="Galeria Valanti" class="righted-img">
          <ul>
            <li><a href="reproducciones/reproducciones.html">Reproducción de Obras de Arte!</a></liv>
            <li>Asesoría a empresas y personas físicas en la compra de obras de arte.</li>
            <li>Restauración de obras de arte.</li>
            <li>Avalúo de colecciones de arte privadas y públicas.</li>
            <li>Alquiler de obras de arte.</li>
            <li>Entrega de obras de arte a domicilio en el Gran Area Metropolitana.</li>
            <li>Asesoría y Enmarcado de obras de arte.</li>
            <li>Facilidades de pago.</li>
            <li>Cursos: Galería Valanti ofrece variedad de cursos en diferentes ramas artísticas según la época, como: dibujo, pintura, música, entre otros. Visite nuestra <a href="cursos/cursos.html">página de Cursos</a> para saber más.</li>
          </ul>
          <br><br>
          <p>Para más información <a href="mailto:inf@galeriavalanti.com">contáctenos</a>.</p>
        </div>
        <!-- English Block -->
        <div class="col-xs-12" ng-if="sc.lang == 'en'">
          <h1>Services</h1>
          <img src="assets/images/galeria/lagaleria.jpg" alt="Galeria Valanti" class="righted-img">
          <ul>
            <li>Artwork Reproductions</li> 
            <li>Artwork shopping counseling for companies and individuals.</li>
            <li>Artwork restoration.</li>
            <li>Private and public art collections assessment.</li>
            <li>Artwork rent.</li>
            <li>Artwork shipping around the "Gran Area Metropolitana" of Costa Rica.</li>
            <li>Artwork framing and framing counseling.</li>
            <li>Payment facilities</li>
            <li>Courses: We offer a variety of courses like: Painting, Music History, Art History; please visit our <a href="/cursos">Courses page</a> to see details.</li>
          </ul>
          <br><br>
          <p>Para más información <a href="mailto:inf@galeriavalanti.com">contáctenos</a>.</p>
        </div>

      </div>
    </div>
  </div>

</div>