<div class="container">

  <carousel interval="myInterval">
    <slide ng-repeat="slide in mcarousel.slides" active="slide.active">
      <div class="thumbnail">
        <div class="row">
          <div class="col-xs-8">
            <img class="img-responsive" ng-src="{{ mcarousel.baseURL }}{{ slide.imagen }}">
          </div>
          <div class="col-xs-4">
            <div class="caption text-right">
              <h3 class="text-uppercase">{{ slide.nombreArtista }}</h3>
              <h2 class="text-uppercase">{{ slide.titulo }}</h2>
              <p>{{ slide.tecnica }} <br /> <small>{{ slide.altura }} x {{ slide.ancho }} cms</small></p>
              <p><a href="#" class="text-uppercase" role="button">Otras Obras de {{ slide.nombreArtista }}</a></p>
            </div>
          </div>
        </div>
      </div>
    </slide>
  </carousel>

</div>


<!-- <div class="container">
  <div class="main-wrapper">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="thumbnail">
            <div class="row">
              <div class="col-xs-8">
                <img class="img-responsive" src="http://lorempixel.com/605/373/abstract/" alt="Example Image">
              </div>
              <div class="col-xs-4">
                <div class="caption text-right">
                  <h3 class="text-uppercase">Francisco Amighetti</h3>
                  <h2 class="text-uppercase">"Hombres y Mascaras"</h2>
                  <p>Grabado <br /> <small>43 x 61 cms</small></p>
                  <p><a href="#" class="text-uppercase" role="button">Otras Obras de Francisco Amighetti</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="thumbnail">
            <div class="row">
              <div class="col-xs-8">
                <img class="img-responsive" src="http://lorempixel.com/605/373/abstract/" alt="Example Image">
              </div>
              <div class="col-xs-4">
                <div class="caption text-right">
                  <h3 class="text-uppercase">Francisco Amighetti</h3>
                  <h2 class="text-uppercase">"Hombres y Mascaras"</h2>
                  <p>Grabado <br /> <small>43 x 61 cms</small></p>
                  <p><a href="#" class="text-uppercase" role="button">Otras Obras de Francisco Amighetti</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="thumbnail">
            <div class="row">
              <div class="col-xs-8">
                <img class="img-responsive" src="http://lorempixel.com/605/373/abstract/" alt="Example Image">
              </div>
              <div class="col-xs-4">
                <div class="caption text-right">
                  <h3 class="text-uppercase">Francisco Amighetti</h3>
                  <h2 class="text-uppercase">"Hombres y Mascaras"</h2>
                  <p>Grabado <br /> <small>43 x 61 cms</small></p>
                  <p><a href="#" class="text-uppercase" role="button">Otras Obras de Francisco Amighetti</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="slider-controls">
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div> -->