<div class="container">
  <div class="footer">
    <div class="row">
      <div class="col-xs-12">
        <hr>
        <h1 class="text-left">
          <a href="/">
            <img src="assets/images/galeria-valanti-logo.png" alt="Galer&iacute;a Valanti">
          </a>
        </h1>
      </div>
      <div class="col-sm-6">
        <ul class="nav text-uppercase text-left">
          <li><a href="/">Inicio</a></li>
          <li><a href="/gallery">La Galer&iacute;a</a></li>
          <li><a href="/services">Servicios</a></li>
          <li><a href="/artist">Artistas</a></li>
          <li><a href="/demos">Exposiciones</a></li>
          <li><a href="/who-to-buy">C&oacute;mo Comprar</a></li>
          <li><a href="/art-classes">Clases de Arte</a></li>
          <li><a href="/">Publicaciones</a></li>
        </ul>
      </div>
      <div class="col-sm-6">
        <div class="contact text-right">
          <p>Galer&iacute;a Valanti, galer&iacute;a de arte latinoamericano, San Jos&eacute;, Costa Rica.</p>
          <p>Tel: <a href="tel:(506)2253-1659">(506)2253-1659</a><br> Email: <a href="mailto:info@galeriavalanti.com">info@galeriavalanti.com</a></p>
          <p class="small">2015 - Galería Valanti, todos los derechos reservados</p>
        </div>
      </div>
    </div>
  </div>
</div>